#about .contents {
  color: #e1dfdf;
  text-align: center;
  width: 100%;
}

#about .title {
  font-family: serif;
  font-size: 1.5em;
  letter-spacing: 0.5rem;
  padding-top: 3rem;
}

.profile {
  width: 100%;
  display: contents;
}

.profile-img {
  background-image: url(../img/about.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 180px;
  width: 180px;
}

/* desktop styles */
@media only screen and (min-width: 768px) {
  .profile-left {
    display: block;
    float: left;
    margin: 0 4em 0 8em;
    max-width: 250px;
    text-align: center;
    width: 50%;
  }
}
/* mobile styles */
@media only screen and (max-width: 767px) {
  .profile-left {
    display: block;
    margin: auto;
    min-width: 250px;
    text-align: center;
    width: 80%;
  }
}

.profile-left ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
  overflow: scroll;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  white-space: nowrap;
}

.profile-left ul::-webkit-scrollbar {
  /* Chrome, Safari */
  display: none;
}

.profile-left ul li {
  margin: 0.5em 0;
}

.link-text {
  color: #e1dfdf;
  position: relative;
  text-decoration: none;
}

.link-text::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #31aae2;
  transition: 0.3s;
  transform: translateX(-50%);
}

.link-text:hover::after {
  width: 100%;
}

/* .link-text:hover {
  color: #00c6a7;
  text-decoration: none;
} */

.link-icon {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 18px;
  margin: 0 5px;
  transition: all 0.6s ease 0s;
}

.link-icon:hover {
  transform: scale(1.5, 1.5);
}

.profile-right {
  display: inline-block;
  text-align: left;
  width: 50%;
}

.profile-right-heading {
  font-size: 1.2em;
  letter-spacing: 0.25rem;
  margin-top: 0;
  text-align: left;
}

.affiliation {
  list-style-type: none;
  padding-left: 0;
}
.affiliation li {
  margin-bottom: 1em;
}
.experienced-period {
  min-width: 150px;
  display: inline-block;
}

.category-heading {
  font-size: 1em;
  margin-bottom: 0.5em;
  text-align: left;
}
.category-area {
  border-left: solid 2px white;
  margin-bottom: 2.5em;
  padding-left: 5px;
}

.skill {
  list-style-type: none;
  padding-left: 5px;
}
.skill li {
  display: flex;
  margin: 5px 0;
}
.skill li img {
  margin-right: 5px;
}
.experienced-ability {
  min-width: 90px;
  display: inline-block;
}

/* desktop styles */
@media only screen and (min-width: 768px) {
  .profile-right {
    height: 75%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
  .profile-right::-webkit-scrollbar {
    /* Chrome, Safari */
    display: none;
  }

  .pc-not-display {
    display: none;
  }
}

/* mobile styles */
@media only screen and (max-width: 767px) {
  /* .profile-right {
        display: none;
    } */
  #about .contents {
    overflow-y: scroll;
  }

  .profile-right {
    display: block;
    margin: 3.5em auto 1.5em;
    min-width: 250px;
    text-align: left;
    width: 90%;
  }

  .profile-right-heading {
    text-align: center;
  }
}

.profile-right p span {
  color: magenta;
  font-weight: 600;
}
