#thanks .contents {
    color: #e1dfdf;
    text-align: center;
    width: 100%;
}

#thanks .title {
    font-family: serif;
    font-size: 1.5em;
    letter-spacing: 0.5rem;
    padding-top: 3rem;
}

#thanks .contents p {
    margin: 40px 0 0 0;
}

#thanks .contents p:last-child {
    margin: 80px 0 0 0;
}

.thanks-link {
    color: #e1dfdf;
    display: inline-block;
    margin-top: 2em;
    position: relative;
    text-decoration: none;
    transition: .3s;
    z-index: 2;
}

#thanks .contents a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #31aae2;
    transition: .3s;
    transform: translateX(-50%);
}

#thanks .contents a:hover::after{
    width: 100%;
}

#thanks .contents h3 {
    margin: 0;
}