#tweet .contents {
    color: #e1dfdf;
    text-align: center;
    width: 100%;
}

#tweet .title {
    font-family: serif;
    font-size: 1.5em;
    letter-spacing: 0.5rem;
    padding-top: 3rem;
}

#tweet .contents p {
  margin-top: 40px;
}

#tweet .twitter {
    display: none;
    margin-top: 10px;
    height: 100%;
    width: 100%;
}
