<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="manifest.json"/>
    <title>オセロ</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117098514-1"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GMQVKV2VPH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117098514-1');
        gtag('config', 'G-GMQVKV2VPH');
    </script>
    <style>
        * {
            margin: 2px;
            padding: 0;
            box-sizing: border-box;
        }
        h2 {
            text-align: center;
        }
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-family: sans-serif;
            background-image: url(./othello.jpg);
        }
        table {
            margin:0 auto;
            border-collapse: collapse;
            border: 3px solid black;
        }
        td {
            border: 1px solid black;
            background: forestgreen;
            width: 45px;
            height: 45px;
            text-align: center;
            vertical-align: middle;
        }

        #playerMsg {
            text-align: center;
        }

        #resetButtun {
            text-align: center;
            position: relative;
            display: inline-block;
            padding: 0.25em 0.5em;
            text-decoration: none;
            color: #FFF;
            background: #fd9535;/*背景色*/
            border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
            border-radius: 4px;/*角の丸み*/
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
            font-weight: bold;
        }

        #resetButtun:active {
            border-bottom: solid 2px #fd9535;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
        }

    </style>
</head>
<body>
    <div id="app">
        <!-- 盤 -->
        <h2>Othello</h2>
        <table>
            <tr v-for="y in size">
                <td v-for="x in size" @click="onStoneSet(x, y)">
                    <stone :type="getStone(x, y)"></stone>
                </td>
            </tr>
        </table>
        <div id="playerMsg">
            <p>Please put <stone :type="currentStoneId"></stone> .</p>
            <p v-bind:style="{visibility: visibleValue, color: 'red'}">　{{msg}}　</p>
            <button id="resetButtun" @click="initStone()">Reset</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>
        var stoneComponent = {
            props: ['type'],
            template: '<span v-html="content"></span>',
            computed: {
                content() {
                    if(this.type == '-1') { // 黒
                        return '●';
                    } else if(this.type == '1') { // 白
                        return '○';
                    }
                    return ' ';
                }
            }
        };
        new Vue({
            el: '#app',
            components: {
                stone: stoneComponent
            },
            data: {
                size: 8, // 偶数であること
                stones: [],
                msg: '',
                endFlg: false,
                currentStoneId: -1 // -1:●　1:○
            },
            computed: {
                visibleValue : function () {
                    if(this.msg) {
                        return 'visible';
                    } else {
                        return 'hidden';
                    }
                }
            },
            methods: {
                initStone() {
                    var stones = [];
                    var size = this.size;
                    for(var x = 0 ; x < size ; x++) {
                        var stoneLine = [];
                        for(var y = 0 ; y < size ; y++) {
                            stoneLine.push(0);  // 0は空白
                        }
                        stones.push(stoneLine);
                    }
                    this.stones = stones;
                    this.msg = '';
                    this.endFlg = false;
                    this.currentStoneId = -1;

                    // 黒を初期設定
                    this.stones[(this.size/2)-1][(this.size/2)-1] = -1;
                    this.stones[this.size/2][this.size/2] = -1;
                    // 白を初期設定
                    this.stones[this.size/2][(this.size/2)-1] = 1;
                    this.stones[(this.size/2)-1][this.size/2] = 1;
                },
                getStone(x, y) {
                    return this.stones[x-1][y-1];
                },
                copyStone() {
                    return JSON.parse(JSON.stringify(this.stones));
                },
                stoneCounts() {
                    // 白黒の数を数える
                    var counts = {
                        black: 0,
                        white: 0,
                        total: 0
                    };

                    var size = this.size;

                    for(var x = 0 ; x < size ; x++) {
                        for(var y = 0 ; y < size ; y++) {
                            var stoneId = this.stones[x][y];
                            if(stoneId == -1 || stoneId == 1) {
                                if(stoneId == -1) {
                                    counts.black++;
                                } else if(stoneId == 1) {
                                    counts.white++;
                                }
                                counts.total++;
                            }
                        }
                    }
                    return counts;
                },
                onStoneSet(x, y) {
                    if (this.endFlg) {
                        // 何もしない
                    } else if(this.stones[x-1][y-1] == 0) {
                        this.msg = '';

                        var newStones = this.copyStone();
                        newStones[x-1][y-1] = this.currentStoneId;
                        this.stones = newStones;

                        if(!this.changeStone(x, y)) {
                            this.msg = 'Can not put!';
                            this.stones[x-1][y-1] = ' '; // 置けないので元に戻す
                        } else {
                            this.currentStoneId *= -1;  // 白黒交代

                            var fullCount = this.size * this.size;
                            var stoneCounts = this.stoneCounts();

                            if(stoneCounts.total == fullCount) {
                                if(stoneCounts.black > stoneCounts.white) {
                                    this.msg = '● Win!!';
                                } else if(stoneCounts.black < stoneCounts.white) {
                                    this.msg = '○ Win!!';
                                } else {
                                    this.msg = 'Draw!!';
                                }
                                this.endFlg = true; // ゲーム終了
                            
                            } else if(!this.checkStone()) {
                                if(this.currentStoneId == -1) {
                                    this.msg = 'No place to put ●!';
                                } else {
                                    this.msg = 'No place to put ○!';
                                }
                                this.currentStoneId *= -1;  // 白黒交代
                            }
                        }
                    } else {
                        this.msg = 'Already placed!';
                    }
                },
                changeStone(x, y) {
                    var movingCollection = [
                        {x: -1, y: -1}, // 左上
                        {x: 0, y: -1},  // 上
                        {x: 1, y: -1},  // 右上
                        {x: 1, y: 0},   // 右
                        {x: 1, y: 1},   // 右下
                        {x: 0, y: 1},   // 下
                        {x: -1, y: 1},  // 左下
                        {x: -1, y: 0},  // 左
                    ];
                    var baseX = x - 1; // 置かれた石の座標：X
                    var baseY = y - 1; // 置かれた石の座標：Y
                    var changingStoneId = this.currentStoneId * -1; // ひっくり返される石の色
                    var changingFlg = false; // 1度でもひっくり返せばtrue

                    for(var i = 0 ; i < movingCollection.length ; i++) {
                        var moving = movingCollection[i];
                        var checkingX = baseX;
                        var checkingY = baseY;
                        var changingPositions = []; // ひっくり返す（かもしれない）座標

                        for(var j = 0 ; j < this.size ; j++) {
                            checkingX += moving.x; // チェックする場所を移動
                            checkingY += moving.y; // チェックする場所を移動

                            if(checkingX < 0 || checkingY < 0 ||
                                checkingX >= this.size || checkingY >= this.size) {
                                break; // 盤外のため判定終了
                            }

                            var checkingStoneId = this.stones[checkingX][checkingY];
                            // 自分の色だった場合
                            if(checkingStoneId == this.currentStoneId) {

                                var newStones = this.copyStone();

                                for(var k = 0 ; k < changingPositions.length ; k++) {
                                    // ひっくり返す
                                    var changingPosition = changingPositions[k];
                                    var changingX = changingPosition.x;
                                    var changingY = changingPosition.y;
                                    newStones[changingX][changingY] = this.currentStoneId;
                                    changingFlg = true;
                                }

                                this.stones = newStones;
                                break;

                            // 相手の色だった場合
                            } else if(checkingStoneId == changingStoneId) { 
                                changingPositions.push({x: checkingX, y: checkingY});

                            // 空白の場合
                            } else { 
                                break;
                            }
                        }
                    }
                    return changingFlg;
                },
                checkStone() {
                    var changingStoneId = this.currentStoneId * -1; // チェックする石の色

                    for(var baseX = 0 ; baseX < this.size ; baseX++) { // チェックする石の座標：X
                        for(var baseY = 0 ; baseY < this.size ; baseY++) { // チェックする石の座標：Y
                            var movingCollection = [
                                {x: -1, y: -1}, // 左上
                                {x: 0, y: -1},  // 上
                                {x: 1, y: -1},  // 右上
                                {x: 1, y: 0},   // 右
                                {x: 1, y: 1},   // 右下
                                {x: 0, y: 1},   // 下
                                {x: -1, y: 1},  // 左下
                                {x: -1, y: 0},  // 左
                            ];

                            if (this.stones[baseX][baseY] != 0) {
                                continue;
                            }
                            
                            for(var i = 0 ; i < movingCollection.length ; i++) {
                                var moving = movingCollection[i];
                                var checkingX = baseX;
                                var checkingY = baseY;
                                var changingPositions = []; // ひっくり返せる（かもしれない）座標

                                for(var j = 0 ; j < this.size ; j++) {
                                    checkingX += moving.x; // チェックする場所を移動
                                    checkingY += moving.y; // チェックする場所を移動

                                    if(checkingX < 0 || checkingY < 0 ||
                                        checkingX >= this.size || checkingY >= this.size) {
                                        break; // 盤外のため判定終了
                                    }

                                    var checkingStoneId = this.stones[checkingX][checkingY];
                                    // 自分の色だった場合
                                    if(checkingStoneId == this.currentStoneId) {

                                        if (changingPositions.length > 0) {
                                            // ひっくり返せる石がある
                                            return true;
                                        }
                                        break;

                                    // 相手の色だった場合
                                    } else if(checkingStoneId == changingStoneId) { 
                                        changingPositions.push({x: checkingX, y: checkingY});

                                    // 空白の場合
                                    } else { 
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    return false; // ひっくり返せる石がない                            
                }
            },
            created() {
                this.initStone();
            }
        })
    </script>
    <script>
        const sw = () => {
            if ("serviceWorker" in navigator) {
                window.addEventListener("load", function() {
                    navigator.serviceWorker
                        .register("/game/othello/serviceWorker.js")
                        .then(res => console.log("service worker registered"))
                        .catch(err => console.log("service worker not registered", err))
                })
            } else {
                console.log("service worker not exist");
            }
        };

        sw();
    </script>
    <!-- Google Analytics -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-117098514-1', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>
</html>